config.php
admin/config.php
error_log
.htaccess

system/storage/cache/
system/storage/download
system/storage/logs/
system/storage/modification/
system/storage/session/
system/storage/upload/
system/storage/vendor/

storage_dev_ipshopy/

image/
download/

*.log
*.zip
*.tar.gz
*.bak
*.swp
*.tmp


