
/*.rating-text {*/
/*      background-color: #28a745;*/
/*      color: white;*/
/*      font-size: 0.85rem;*/
/*      padding: 2px 6px;*/
/*      border-radius: 4px;*/
/*      font-weight: bold;*/
/*      margin-right: 8px;*/
/*}*/

/*.review-text .text-content {*/
/*  display: -webkit-box;*/
  -webkit-line-clamp: 2;           /* Clamp to 2 lines */
/*  -webkit-box-orient: vertical;*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
  line-height: 1.5em;              /* Adjust to your font */
  max-height: 3em;                 /* 2 lines * line-height */
/*}*/

/*.text-content.clamped {*/
/*  display: -webkit-box;*/
/*  -webkit-line-clamp: 2;*/
/*  -webkit-box-orient: vertical;*/
/*  overflow: hidden;*/
/*  max-height: 3em;*/
/*}*/


/*.read-more:hover {*/
/*  text-decoration: underline;*/
/*}*/



/*.author {*/
/*  display: inline;*/
  
/*  font-family: 'Inter', sans-serif;*/
/*  font-size: 12px;*/
/*      line-height: 16.8px;*/
/*      font-weight: 500;*/
/*  color: #878787;*/
/*  margin-top: 10px;*/
/*}*/

/*.review-header {*/
  display: inline-flex; /* Keep items in the same line */
/*  align-items: center;*/
  gap: 6px; /* Small space between author and date */
/*}*/


/*.review-header .author,*/
/*.review-header .date {*/
  margin: 0; /* Remove default spacing */
/*  font-family: 'Inter', sans-serif;*/
/*  font-size: 12px;*/
/*  color: #878787;*/
/*    font-weight: 500;*/
/*      line-height: 16.8px;*/
/*}*/





