<div class="tab-pane" id="license">
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading"><strong>{{ license_heading }}</strong></div>
                <div class="panel-body">
                    {{ license_text }}
                </div>
            </div>

        </div>

        <!-- sidebar -->
        {{ sidebar_view }}
        <!-- ./sidebar -->

    </div>
</div> 