*  {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 100%;
      padding: 20px;
    }

    h4 {
      text-align: center;
      margin-bottom: 20px;
    }

    .swiper {
      padding: 15px 10px;
      position: relative;
    }

    .category_swiper .swiper-slide {
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s;
      text-align: center;
      height: 130px;
      display: flex;
      flex-direction: column;
      align-items:center;
    }

    .category_swiper .swiper-slide:hover {
      transform: translateY(-5px);
      box-shadow: 0 2px 3px #953a93;
    }

    .category_swiper .swiper-slide img {
      width: 100px;
      height: 100px;
      /* object-fit: contain; */
      transition: transform 0.3s ease;
    }

    .swiper-slide img:hover {
      transform: scale(1.05);
    }

    .category_swiper .swiper-slide p {
      background-color: #953a9320;
      color: black;
      font-size: 13px;
      font-weight: 500;
      padding: 5px;
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin:0px;
      width:100%;
    }

    .category_swiper .swiper-button-next,
    .category_swiper .swiper-button-prev {
        
        top: 50% !important;
        margin: 0px !important;
        transform: translateY(-50%) !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
      background: #f1f1f1;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 16px;
    }

    a.text-decoration-none {
      text-decoration: none;
}

.category_image_wrapper{
    width:100px;
    height:100px;
    overflow:hidden;
}
.category_swiper {
    margin-inline:20px;
    margin-bottom:10px;
}
.category_swiper .swiper-button-disabled{
    display:none;
}
/* Small screens (phones) */
@media (max-width: 600px) {
    .category_swiper {
    margin-inline:0px;
    padding-bottom:0px;
    margin-bottom:0px;
}
.category_swiper .swiper-slide{
    height:106px;
}
.category_swiper .swiper-slide img{
    width:80px;
    height:80px;
}
.category_swiper .swiper-slide p{
    font-size:12px;
}
}
