.large_banners2 {
    width:90%;
    margin: 0 auto;
    overflow:hidden;
    box-shadow:0px 0px 5px #00000030;
    border-radius:20px;
    margin-block:20px;
}
  .large_banners2 .swiper-container2 {
        width: 100%;
        height: 100%;
        margin: 0px;
        position: relative;
    }

    .large_banners2 .swiper-slide {
        overflow: hidden;
        border-radius: 10px;
        height: 100%;
    }

    .large_banners2 .swiper-slide img {
        object-fit: cover;
        border-radius: 29px;
        display: block;
        border: none;
        width: 100%;
        height:100%;
        transform:none !important;
    }

    .large_banners2 .swiper-button-next,
    .large_banners2 .swiper-button-prev {
        color: #953a93;
    }

    @media (max-width: 1300px) {
        .large_banners2 .swiper-container2 {
            width: 100%;
            height: auto;
        }
        .large_banners2 .swiper-slide img {
            height: auto;
        }
    }