.popular_brands_container{
    margin-inline:0px;
}
.popular-brands-section {
  padding: 10px;
  background: #FDF4FF;
  overflow: hidden;
  position: relative;
}

.popular_brands_container .popular-brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  padding: 5px 10px;
}

.popular_brands_container .section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom:5px;
  color:black;
}

.popular_brands_container .view-all-link {
  font-size: 12px;
  color: #610771;
  text-decoration: none;
  font-weight: 500;
}

/* Marquee animation */
.popular_brands_container .marquee-container {
  display: flex;
  width: fit-content;
  animation: scrollLeft 25s linear infinite;
}
.popular_brands_container .marquee-container:hover {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Slider Wrapper */
.popular_brands_container .brand-slider-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

/* Brand Card */
.popular_brands_container .brand-card {
  padding: 5px;
      margin: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 50px;
  margin-right: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  overflow:hidden;
}

.popular_brands_container .brand-card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Image inside brand */
.popular_brands_container .brand-card img {
  padding-inline:10px;
  width: 100%;
  /*max-height: 36px;*/
  object-fit: contain;
  display: block;
}
@media (min-width:786px){
    
    .popular_brands_container{
        /*margin-inline:30px;*/
    }
.popular_brands_container .brand-card img {
  padding-inline:20px;
  
}
.popular_brands_container .brand-card {
    width:180px;
    height:80px;
    overflow:hidden;
}
}

@media (min-width:576px){
    .popular_brands_container .section-title{
        margin-bottom:10px;
    }
    .popular_brands_container .popular-brands-header {
        padding-inline:30px;
    }
    .popular_brands_container .popular-brands-section {
        padding-inline:30px;
    }
    .popular_brands_container{
        margin-inline:0px;
    }

}
    